<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/images/lamp.png" type="image/png" />
    <title>Thoughts</title>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/lamp.png" alt="app-navbar-icon" width="53" height="53" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse show"
          id="navbarSupportedContent"
          style=""
        >
          {{#with app}}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link{{#if home}} active{{/if}}" aria-current="page" href="/">Thoughts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{{#if login}} active{{/if}}" href="/{{#if logged}}{{else}}login{{/if}}">{{#if logged}}Logout{{else}}Login{{/if}}</a>
              </li>
              {{#if content.logged}}
              {{else}}
                  <li class="nav-item">
                      <a class="nav-link{{#if signup}} active{{/if}}" href="/signup">Sign up</a>
                  </li>
              {{/if}}  
            </ul>
          {{/with}}
        </div>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>