<div class="text-center cards-container">
  <button class="w-100 btn btn-lg btn-primary" type="submit">
    <i class="fa fa-plus"></i>
    Add thought
  </button>
  {{#each thoughts}}
    <div class="card">
      <div class="card-header">
        {{this.title}}
        <div class="thought-icons-container">
          <span><i class="fa fa-trash"></i></span>
          <span><i class="fa fa-edit"></i></span>
        </div>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{this.message}}</p>
          <footer class="blockquote-footer">{{this.author.name}},
            {{this.author.email}}</footer>
        </blockquote>
      </div>
    </div>
  {{/each}}
</div>